section.organization.organization--concerns
  .container
    .organization_inner 
      h2 Доверьте нам все заботы по организации мероприятия
      .organization-list 
        .organization_item 
          .organization_item-content
            p
              b Профессиональные ведущие
              |  проведут праздник по индивидуальной программе с учетом интересов гостей
            .organization_item-content_img 
              picture
                source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/man.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/man@2x.webp 2x" type="image/webp")
                img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/man.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/man@2x.png 2x" width="368" height="400" alt="" title="" loading="lazy") 
          .organization_item-img
            picture
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_1.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_1@2x.avif 2x" type="image/avif")
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_1.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_1@2x.webp 2x" type="image/webp")
              img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_1.jpg 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_1@2x.png 2x" width="743" height="410" alt="" title="" loading="lazy")
        .organization_item 
          .organization_item-img
            picture
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_2.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_2@2x.avif 2x" type="image/avif")
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_2.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_2@2x.webp 2x" type="image/webp")
              img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_2.jpg 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_2@2x.png 2x" width="743" height="410" alt="" title="" loading="lazy")      
          .organization_item-content
            p
              b Профессиональные ведущие
              |  проведут праздник по индивидуальной программе с учетом интересов гостей
            .organization_item-content_img 
              picture
                source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/beauty.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/beauty@2x.webp 2x" type="image/webp")
                img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/beauty.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/beauty@2x.png 2x" width="368" height="400" alt="" title="" loading="lazy")      
        .organization_item 
          .organization_item-content
            p
              b Профессиональные ведущие
              |  проведут праздник по индивидуальной программе с учетом интересов гостей
            .organization_item-content_img 
              picture
                source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/music.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/music@2x.webp 2x" type="image/webp")
                img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/music.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/music@2x.png 2x" width="368" height="400" alt="" title="" loading="lazy") 
          .organization_item-img
            picture
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization-slider_1.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization-slider_1@2x.avif 2x" type="image/avif")
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization-slider_1.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization-slider_1@2x.webp 2x" type="image/webp")
              img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization-slider_1.jpg 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization-slider_1@2x.png 2x" width="743" height="410" alt="" title="" loading="lazy")
        //- .organization_item 
        //-   .organization_item-img
        //-     picture
        //-       source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_3.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_3@2x.avif 2x" type="image/avif")
        //-       source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_3.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_3@2x.webp 2x" type="image/webp")
        //-       img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_3.jpg 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/organization_3@2x.png 2x" width="743" height="410" alt="" title="" loading="lazy")      
        //-   .organization_item-content
        //-     p
        //-       b Профессиональные ведущие
        //-       |  проведут праздник по индивидуальной программе с учетом интересов гостей
        //-     .organization_item-content_img 
        //-       picture
        //-         source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/pizza.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/pizza@2x.webp 2x" type="image/webp")
        //-         img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/pizza.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/pizza@2x.png 2x" width="368" height="400" alt="" title="" loading="lazy")      