.footer {
  padding: 2rem 0 5rem;
  background: var(--black_2);

  &_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo {
      width: 25%;
      margin: 0;

      img {
        width: 16.5rem;
        height: 9.3rem;
      }

      span {
        display: block;
        margin-top: 2rem;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--gray_2);
      }
    }

    .nav {
      width: 30%;
      margin-left: 5rem;

      ul {
        display: flex;
        flex-direction: column;

        li {

          a {
            font-size: 2.2rem;
            font-weight: 500;
            color: var(--gray_2);
          }

          &:not(:last-of-type) {
            margin: 0 0 2rem 0;
          }
        }
      }
    }

    .contacts {
      width: 30%;
      display: flex;
      flex-direction: column;

      a,
      span {

        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: -3rem;
          transform: translateY(-50%);
          width: 2rem;
          height: 2rem;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      a {
        margin-bottom: 3rem;

        &::before {
          background: url("../img/icons/phone.svg");
        }
      }

      span {

        &::before {
          background: url("../img/icons/clock.svg");
        }
      }

      a,
      span {
        position: relative;
        font-size: 2.2rem;
        font-weight: 500;
        color: var(--gray_2);

        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: -3rem;
          transform: translateY(-50%);
          width: 2rem;
          height: 2rem;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .socials {
    width: 10%;
    display: flex;

    .social {
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--white_1);
      border-radius: 0.5rem;
      
      &:nth-of-type(1) {
        margin-right: 3rem;
      }
    }

    img {
      width: 3rem;
      height: 3rem;
    }
  }

  .organization,
  .copyright {
    text-align: center;
    margin-top: 3rem;
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--gray_2);
  }

  .copyright {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--gray_2);
  }
}