section.programs 
  .container
    .programs_inner 
      h2 Ваши дети станут героем игры Форт Боярд
      .programs_inner-block
        .programs-list 
          .programs_item 
            .programs_item_img 
              picture
                source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/programs_item_1.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/programs_item_1@2x.webp 2x" type="image/webp")
                img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/programs_item_1.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/programs_item_1@2x.jpg 2x" width="120" height="120" alt="Форт Боярд на Ялтинской" title="" loading="lazy") 
            .programs_item_text Испытания 
              |
              br
              | как в телешоу
          .programs_item 
            .programs_item_img 
              picture
                source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/programs_item_2.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/programs_item_2@2x.webp 2x" type="image/webp")
                img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/programs_item_2.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/programs_item_2@2x.jpg 2x" width="120" height="120" alt="Форт Боярд на Ялтинской" title="" loading="lazy") 
            .programs_item_text Элементы контактного зоопарка
          .programs_item 
            .programs_item_img 
              picture
                source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/programs_item_3.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/programs_item_3@2x.webp 2x" type="image/webp")
                img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/programs_item_3.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/programs_item_3@2x.jpg 2x" width="120" height="120" alt="Форт Боярд на Ялтинской" title="" loading="lazy") 
            .programs_item_text Шквал спецэффектов под интригующую музыку
        .programs-video
          .play-button.play-button--programs
          .programs-video_text 
            p Посмотрите видео о Форт Боярд и узнайте, почему наши гости говорят, что раньше не испытывали таких эмоций 
          .programs-video_logo
            picture
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/logo.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/logo@2x.webp 2x" type="image/webp")
              img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/logo.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/logo@2x.jpg 2x" width="196" height="116" alt="Форт Боярд на Ялтинской" title="" loading="lazy")

