section.exciting-game
  .container 
    .exciting-game_inner
      h2 Ваш класс станет героем увлекательной игры
      p Игровое шоу по мотивам всемирно известного французского телешоу. 
        | Вас ждет настоящий замок, Паспарту, змеи и тараканы. Всплеск эмоций гарантирован!