section.exciting-game.exciting-game--graduation
  .container 
    .exciting-game_inner.exciting-game_inner--graduation
      h2 Мы организуем для вас эксклюзивный выпускной под ключ
      p Посмотрите, как может выглядеть ваше мероприятие