section.main-block.main-block--graduation
  .main-block_inner
    .main-block_left
      h1 Устройте вашим детям незабываемый выпускной
      .main-block-note 
        .note-text 
          span Рассчитайте стоимость праздника и зафиксируйте за собой скидку *
          span *если предоплата происходит в день обращения
      button.btn-header.btn-header--childbirthday Получить расчет
      .description Непростые испытания, знакомые с детства герои и манящий дух приключения - вот из чего состоит квест-шоу Форт. 
        | Превратите любое мероприятие в уникальное и запоминающееся.
    .main-block_right
      //- .phone-block
      //-   a(href="tel:+79622604324" class="phone-header") +7 (962) 260-43-24
      //-   button.btn-call Перезвоните мне
      //- .play-button