section.main-block.main-block--class
  .main-block_inner
    .main-block_left.main-block_left--class
      h1 Ярко и красочно проведем игру одноклассникам
      .main-block-note 
        .note-text 
          span Рассчитайте стоимость праздника и зафиксируйте за собой скидку *
          span *если предоплата происходит в день обращения
      button.btn-header.btn-header--childbirthday Получить расчет
      .description Непростые испытания, знакомые с детства герои и манящий дух приключения - вот из чего состоит квест-шоу Форт.
        br
        | Превратите любое мероприятие в уникальное и запоминающееся.
    .main-block_right