section.carousel-circle
  .container
    .carousel-circle_inner
      h2 Почувствуйте себя героем настоящего приключения
      p благодаря тщательно продуманному реквизиту и декорациям
      .tabs-circle
        .tabs-circle_inner
          .tabs-circle_nav
            .tabs-circle_nav-item
              .circle-nav_img
                img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/nav-1.png" alt="" width="" height="" loading="lazy")
              .circle-nav_text
                span Площадка более
                span.circle-nav_text-note 700 м<sup>2</sup>
            .tabs-circle_nav-item
              .circle-nav_img
                img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/nav-3.png" alt="" width="" height="" loading="lazy")
              .circle-nav_text
                span Элементы контактного зоопарка
            .tabs-circle_nav-item
              .circle-nav_img
                img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/nav-2.png" alt="" width="" height="" loading="lazy")
              .circle-nav_text
                span Фирменные футболки для каждого игрока
        .carousel_item
          .carousel_item-img
            img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/circle-img_1.jpg" alt="" width="" height="" loading="lazy")
          .carousel_item-img
            img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/circle-img_2.jpg" alt="" width="" height="" loading="lazy")
          .carousel_item-img
            img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/circle-img_3.jpg" alt="" width="" height="" loading="lazy")
          .circle.circle-1.circle--active 
          .circle.circle-2
          .circle.circle-3