extends ./../layouts/main

block variables
  - let pageTitle = 'Стань участником квест-шоу "Форт Боярд" в игре с классом | Официальный сайт';

block content
  .wrapper
    include ../components/blocks/navbar/navbar.pug
    include ../components/sections/main-block/main-class.pug
    include ../components/sections/exciting-game/exciting-game.pug
    include ../components/sections/delight/delight-class.pug
    include ../components/sections/pleasure/pleasure.pug
    include ../components/sections/calculation-coast/calculation-cost-holiday.pug
    include ../components/sections/map/map.pug
    include ./../components/sections/footer/footer.pug 