.trials {
  position: relative;
  margin: 6rem 0 20rem 0;

  .compass-cut {
    position: absolute;
    top: -10rem;
    right: -24rem;
    width: 52rem;
    height: 21rem;
    transform: rotate(-29deg);
    overflow: hidden;
  }

  &_inner {
    position: relative;
    width: 100%;

    h2 {
      margin: 1.2rem auto 6rem auto;
    }

    .trials_slider {
      overflow: hidden;
      max-width: 80rem;
      margin: 0 auto;
    }

    .swiper-wrapper {
      position: relative;
      display: flex;

      .swiper-slide {
        
        &_img {
          max-width: 80rem;
          height: 55rem;
          // margin-bottom: 4rem;
          overflow: hidden;
          border-radius: 1.8rem;

          img {
            // max-width: 80rem;
            // height: 60rem;
            display: block;
            max-width: none;
            object-fit: cover;
            border-radius: 1.8rem;
          }
        }

        &_text {
          display: flex;
          flex-direction: column;
          align-items: center;

          h3 {
            text-align: center;
            margin-bottom: 2rem;
            font-size: 2.4rem;
            line-height: 2.8rem;
            font-weight: 700;
          }

          p {
            max-width: 60rem;
            text-align: center;
            font-size: 1.8rem;
            line-height: 2.8rem;
          }
        }
      }
    }

  .trials_slider-button-next,
  .trials_slider-button-prev {
    position: absolute;
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    background: var(--orange_1);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .trials_slider-button-next {
    left: -1.6rem;
  }
  
  .trials_slider-button-prev {
    right: -1.6rem;
  }
  
  .trials_slider-button-next,
  .trials_slider-button-prev {
  
    &::after {
      position: absolute;
      content: "";
      top: 2rem;
      width: 2rem;
      height: 2rem;
      border-top: 0.4rem solid var(--black_1);
      border-right: 0.4rem solid var(--black_1);
    }
  }
  
  .trials_slider-button-next {
  
    &::after {
      right: 1.5rem;
      transform: rotate(-132deg);
    }
  }
  
  .trials_slider-button-prev {
  
    &::after {
      right: 2.2rem;
      transform: rotate(40deg);
    }
  }

  .swiper-pagination {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4rem;
  }

  .swiper-pagination-bullet {
    background: var(--yellow_1);
    width: 2rem;
    height: 2rem;
    display: block;
    border-radius: 50%;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }

  .swiper-pagination-bullet-active {
    background: var(--orange_1);
  }

  }
}