section.trials
  .compass-cut
    picture
      source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/compass.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/compass@2x.webp 2x" type="image/webp")
      img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/compass.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/compass@2x.jpg 2x" width="520" height="570" alt="" title="" loading="lazy")
  .container 
    .trials_inner
      h2 Вас ждут испытания в точности, как в известном шоу
      .swiper.trials_slider.trials_slider--birthday
        .swiper-wrapper
          .swiper-slide
            .swiper-slide_img
              picture
                source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_1.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_1@2x.avif 2x" type="image/avif")
                source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_1.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_1@2x.webp 2x" type="image/webp")
                img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_1.jpg 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_1@2x.jpg 2x" width="800" height="600" alt="" title="" loading="lazy")
          .swiper-slide
            .swiper-slide_img
              picture
                source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_2.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_2@2x.avif 2x" type="image/avif")
                source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_2.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_2@2x.webp 2x" type="image/webp")
                img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_2.jpg 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_2@2x.jpg 2x" width="800" height="600" alt="" title="" loading="lazy")
          .swiper-slide
            .swiper-slide_img
              picture
                source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_3.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_3@2x.avif 2x" type="image/avif")
                source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_3.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_3@2x.webp 2x" type="image/webp")
                img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_3.jpg 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_3@2x.jpg 2x" width="800" height="600" alt="" title="" loading="lazy")
          .swiper-slide
            .swiper-slide_img
              picture
                source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5@2x.avif 2x" type="image/avif")
                source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5@2x.webp 2x" type="image/webp")
                img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5.jpg 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5@2x.jpg 2x" width="800" height="600" alt="" title="" loading="lazy")
          .swiper-slide
            .swiper-slide_img
              picture
                source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5@2x.avif 2x" type="image/avif")
                source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5@2x.webp 2x" type="image/webp")
                img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5.jpg 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5@2x.jpg 2x" width="800" height="600" alt="" title="" loading="lazy")
        .trials_slider-button-next 
        .trials_slider-button-prev


//- section.trials
//-   .compass-cut
//- picture
//-   source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/compass.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/compass@2x.webp 2x" type="image/webp")
//-   img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/compass.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/compass@2x.jpg 2x" width="520" height="570" alt="" title="" loading="lazy")
//-   .container 
//-     .trials_inner
//-       h2 Вас ждут испытания в точности, как в известном шоу
//-       .compass 
//-         svg(height="100%" width="100%")
//-           use(xlink:href="./wp-content/themes/fortboyard-kaliningrad39/assets/img/icons/sprite.svg#icon-compass")
//-       .gull 
//-         svg(height="100%" width="100%")
//-           use(xlink:href="./wp-content/themes/fortboyard-kaliningrad39/assets/img/icons/sprite.svg#icon-gull")
//-       .trials_list
//-         .trials_item 
//-           .trials_item-img
//-             picture
//-               source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_1.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_1@2x.avif 2x" type="image/avif")
//-               source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_1.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_1@2x.webp 2x" type="image/webp")
//-               img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_1.jpg 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_1@2x.jpg 2x" width="453" height="323" alt="Увлекательная история и шквал спецэффектов" title="" loading="lazy")
//-           .trials_item-content 
//-             h3.trials_item-title Увлекательная история и шквал спецэффектов
//-             p.trials_item-text Интригующая музыка, приглушенный свет, легенда про килограммы золота — и это только самое начало
//-         .trials_item 
//-           .trials_item-img
//-             picture
//-               source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_2.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_2@2x.avif 2x" type="image/avif")
//-               source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_2.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_2@2x.webp 2x" type="image/webp")
//-               img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_2.jpg 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_2@2x.jpg 2x" width="453" height="323" alt="Увлекательная история и шквал спецэффектов" title="" loading="lazy")
//-           .trials_item-content 
//-             h3.trials_item-title Знакомство и погружение в приключение
//-             p.trials_item-text Ведущие встречает участников, знакомится и дает первое задание
//-         .trials_item 
//-           .trials_item-img
//-             picture
//-               source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_3.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_3@2x.avif 2x" type="image/avif")
//-               source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_3.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_3@2x.webp 2x" type="image/webp")
//-               img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_3.jpg 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_3@2x.jpg 2x" width="453" height="323" alt="Увлекательная история и шквал спецэффектов" title="" loading="lazy")
//-           .trials_item-content 
//-             h3.trials_item-title 10 заданий в замке с лабиринтами
//-             p.trials_item-text Игроки попадают в окружение потрясающих реалистичных декораций и габаритного реквизита 2x3м. Здесь их ждут 8 тайников, лабиринты и другие испытания
//-         .trials_item 
//-           .trials_item-img
//-             picture
//-               source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_4.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_4@2x.avif 2x" type="image/avif")
//-               source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_4.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_4@2x.webp 2x" type="image/webp")
//-               img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_4.jpg 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_4@2x.jpg 2x" width="453" height="323" alt="Увлекательная история и шквал спецэффектов" title="" loading="lazy")
//-           .trials_item-content 
//-             h3.trials_item-title Выдача фирменных футболок и старт шоу
//-             p.trials_item-text Подготовка к шоу, в котором предстоит пройти задания, собрать ключи и узнать коды, чтобы открыть хранилище с золотом
//-         .trials_item 
//-           .trials_item-img
//-             picture
//-               source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5@2x.avif 2x" type="image/avif")
//-               source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5@2x.webp 2x" type="image/webp")
//-               img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5.jpg 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5@2x.jpg 2x" width="453" height="323" alt="Увлекательная история и шквал спецэффектов" title="" loading="lazy")
//-           .trials_item-content 
//-             h3.trials_item-title Борьба за золото Форта
//-             p.trials_item-text 2000 золотых монет, которые нужно собрать за 40 секунд. Какая команда соберет больше золота, та и победит в этом ярком шоу и получит главный приз месяца
//-         .trials_item 
//-           .trials_item-img
//-             picture
//-               source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5@2x.avif 2x" type="image/avif")
//-               source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5@2x.webp 2x" type="image/webp")
//-               img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5.jpg 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/trials_5@2x.jpg 2x" width="453" height="323" alt="Увлекательная история и шквал спецэффектов" title="" loading="lazy")
//-           .trials_item-content 
//-             h3.trials_item-title Встреча с настоящими крысами и змеями
//-             p.trials_item-text Задача для самых смелых: перенести руками крыс, змей, личинок и тараканов. Все животные безопасны, но волна новых эмоций гарантирована!
