section.delight
  .container 
    .delight_inner 
      h2 Мы сделаем всё, чтобы и ребенок, и родители остались в восторге
  .delight_block
    .container 
      .delight_block-text
        h3 Внимание и подарки всем детям
        p Ведущие следят, чтобы все дети принимали участие в игровом шоу и оставались довольными
      .delight_block-circle
        p 
          b Взрослые могут тоже участвовать или устроить праздничный фуршет
        p Вас ждет летняя площадка с мангалами и беседками. Зимой — закрытое отапливаемое помещение.