section.delight.delight--class
  .container 
    .delight_inner 
  .delight_block.delight_block--class
    .container 
      .delight_block-text.delight_block-text--class
        h2 Мы объединяем одноклассников на новом уровне
        p Устраиваем совместные танцы и конкурсы, от которых все в восторге
        p Радостные лица, улыбки и смех говорят о том, что у нас получаются живые праздники, которые запоминаются на всю жизнь
      //- .delight_block-circle
      //-   p 
      //-     b Взрослые могут тоже участвовать или устроить праздничный фуршет
      //-   p Вас ждет летняя площадка с мангалами и беседками. Зимой — закрытое отапливаемое помещение.