section.map 
  .container 
    h2 Наши 
      span.highlight контакты
    .map_inner
      .map-block 
        img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/map.jpg" width="630" height="459" alt="" title="" loading="lazy")
      .contacts
        .contacts_block
          h3 Телефон
          a(class="phone-header" href="tel:+79622604324") +7 (962) 260-43-24
        .contacts_block
          h3 Адрес
          p Калининград, ул. Ялтинская 66
          p Калининград, пр. Калинина 4
        .contacts_block
          h3 Режим работы
          p ПН-ВС с 09:00-21:00
        .contacts_block
          h3 Мы в соц. сетях
          .socials
            .social 
              img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/icons/instagram.svg" width="20" height="20" alt="Инстаграм" title="" loading="lazy")
            .social 
              img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/icons/whatsapp.svg" width="20" height="20" alt="Вотсап" title="" loading="lazy")

