section.pleasure
  .container 
    .pleasure_inner 
      h2 Мы сделаем все, чтобы вы наслаждались праздником
      .pleasure-list 
        .pleasure_item 
          .pleasure_item-img
            picture
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1@2x.avif 2x" type="image/avif")
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1@2x.webp 2x" type="image/webp")
              img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1@2x.jpg 2x" width="294" height="198" alt="Форт Боярд на Ялтинской" title="" loading="lazy") 
          .pleasure_item-text
            h3 Проводим мероприятие на одном дыхании
            p Ведущие-актеры руководят процессом и заряжают на игру так, что всем обеспечена буря страстей и энергии.
        .pleasure_item 
          .pleasure_item-img
            picture
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1@2x.avif 2x" type="image/avif")
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1@2x.webp 2x" type="image/webp")
              img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1@2x.jpg 2x" width="294" height="198" alt="Форт Боярд на Ялтинской" title="" loading="lazy") 
          .pleasure_item-text
            h3 Устраиваем дискотеку с конкурсами и подарками
            p С вручением грамот и призов, с элементами флешмоба, танцевальными баттлами и съемками роликов для соцсетей или ютуба.
        .pleasure_item 
          .pleasure_item-img
            picture
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1@2x.avif 2x" type="image/avif")
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1@2x.webp 2x" type="image/webp")
              img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1@2x.jpg 2x" width="294" height="198" alt="Форт Боярд на Ялтинской" title="" loading="lazy") 
          .pleasure_item-text
            h3 Организуем фуршет
            p Унас есть специально отведённая банкетная зона, на которой вы можете хорошо подкрепиться после игры. 
            | Мы организуем доставку еды, или вы можете принести ее с собой.
