section.garant 
  //- .border-decor
  //-   svg(class="icon-svg icon-path-decor" height="100%" width="100%")
  //-     use(xlink:href="./wp-content/themes/fort-boyard/images/static/sprite.svg#icon-path-decor")
  .container 
    .garant_inner 
      h2 Гарант хорошего настроения
      p Мы старательно подготавливаем задания под каждый возраст. У нас нет ограничений, будет интересно всем!
      .key 
        picture
          source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/key.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/key@2x.webp 2x" type="image/webp")
          img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/key.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/key@2x.png 2x" width="384" height="344" alt="" title="" loading="lazy")
      .coins 
        picture
          source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/coins-1.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/coins-1@2x.webp 2x" type="image/webp")
          img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/coins-1.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/coins-1@2x.png 2x" width="143" height="297" alt="" title="" loading="lazy")