.calculation-coast.calculation-cost--holiday {
  // AVIF
  @supports (background-image: url('../img/coupon-newyear.avif')) {
    background-image: url('../img/coupon-newyear.avif');

    // Retina AVIF
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('../img/coupon-newyear@2x.avif');
    }
  }

  // WebP
  @supports not (background-image: url('../img/coupon-newyear.avif')) {
    @supports (background-image: url('../img/coupon-newyear.webp')) {
      background-image: url('../img/coupon-newyear.webp');

      // Retina WebP
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('../img/coupon-newyear@2x.webp');
      }
    }
  }

  // Fallback JPG
  @supports not (background-image: url('../img/coupon-newyear.avif')) {
    @supports not (background-image: url('../img/coupon-newyear.webp')) {
      background-image: url('../img/coupon-newyear.jpg');

      // Retina JPG
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('../img/coupon-newyear@2x.jpg');
      }
    }
  }
}

