.calculation-coast.calculation-coast--graduation {

}

.calculation-coast_text.calculation-coast_text--graduation {
  max-width: 49rem;

  h2 {
    text-align: center;
    font-size: 3.2rem;
    
    span {
      display: block;
      margin-top: 3rem;
    }
  }
}