section.calculation-coast.calculation-coast--graduation
  .container 
    .calculation-coast_inner
      .calculation-coast_text.calculation-coast_text--graduation
        h2 Зафиксируйте стоимость выпускного заранее! 
          |
          br
          |
          span Свободных мест на май-июнь 2025 года все меньше!
      .calculation-coast_form
        form.coast-form(action="#" method="post")
          p.coast-form_title Мы пришлем вам программу и расчет
          .coast-form_field-group
            label.coast-form_label(for="phone") Ваш телефон
            input.coast-form_input(type="tel" placeholder="7 (123) 456-78-90")
            label.coast-form_label(for="name") Как к вам обращаться?
            input.coast-form_input#name(type="text" placeholder="Как к вам обращаться?")
            button.coast-form_button.btn-call Связаться с 
          .coast-form_note Заполняя форму, вы даете согласие на обработку своих персональных данных и соглашаетесь с 
            a.coast-form_link(href="#") Политикой конфиденциальности.
            br
            | *если предполагает происходит в день обращения