section.after-show
  .container
    .after-show_inner
      h2 После шоу веселье не заканчивается! Еще полчаса участников развлекают профессиональные ведущие
      .after-show_list
        .after-show_item 
          .after-show_img 
          p.after-show_text