section.after-show
  .container
    .after-show_inner
      h2 После шоу веселье не заканчивается! Еще полчаса участников развлекают профессиональные ведущие
      .after-show_list
        .after-show_item 
          .after-show_img
            picture
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1@2x.avif 2x" type="image/avif")
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1@2x.webp 2x" type="image/webp")
              img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_1@2x.jpg 2x" width="294" height="198" alt="Форт Боярд на Ялтинской" title="" loading="lazy") 
          p.after-show_text Зажигательные дискотеки с диджеем
        .after-show_item 
          .after-show_img
            picture
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_2.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_2@2x.avif 2x" type="image/avif")
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_2.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_2@2x.webp 2x" type="image/webp")
              img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_2.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_2@2x.jpg 2x" width="294" height="198" alt="Форт Боярд на Ялтинской" title="" loading="lazy") 
          p.after-show_text Торжественная часть с поздравлениями
        .after-show_item 
          .after-show_img
            picture
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_3.avif 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_3@2x.avif 2x" type="image/avif")
              source(srcset="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_3.webp 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_3@2x.webp 2x" type="image/webp")
              img(src="./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_3.png 1x, ./wp-content/themes/fortboyard-kaliningrad39/assets/img/after-show_3@2x.jpg 2x" width="294" height="198" alt="Форт Боярд на Ялтинской" title="" loading="lazy") 
          p.after-show_text Фотосессия в фотозонах